#root {
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: 80px 1fr;
	height: 100%;
}

.notes-list {
	grid-column: 1;
	grid-row: 2;
	border-right: 1px solid var(--color-regular-200);
	overflow-y: auto;
}

.note-container {
	grid-column: 2;
	grid-row: 2;
	padding: var(--padding-m);
	overflow-y: auto;
}